<h2>Products</h2>
<p>(Shows the list of products)</p>

<!-- Product Detail -->
<!-- Panel (Structure & Outline) -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{ product.name | uppercase }}
    </h3>
  </div>
  <div class="panel-body">
    <p [ngStyle]="{'color': product.isAvailable ? 'green' : 'red' }">
      {{ product.description }}
    </p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="label" [ngClass]="{'label-primary': product.isAvailable, 'label-warning': !product.isAvailable}">
        {{ product.isAvailable ? 'Available' : 'Not Available' }}
      </span>
    </li>
    <li class="list-group-item">
      {{ product.price | currency : 'INR' }}
    </li>
    <li class="list-group-item">
      {{ today | date : 'shortDate' }}
    </li>
  </ul>
</div>
